<gramar>

	<id>com.intersys.sqoop</id>
	<label>Full DB sqoop job gramar</label>
	<provider>com.intersys</provider>
	<main>main.prod</main>

	<taglibs>
	
		<taglib  prefix="c" extension="org.gramar.base" />
		
	</taglibs>
	
	<sampleModels>
	
		<sampleModel  name="empty"  path="models/empty.xml"  description="Empty model" />
	
	</sampleModels>

</gramar>